$fonts: "Rubik", sans-serif;

// Colors of the palette
$white: #ffffff;
$gray: #636b6f;
$black: #222222;
$light-purple: #f1efff;
$dark-purple: #0a003f;
$gray-purple: #b8b7bc;
$blue: #2e63ea;
$red: #DA3D1D;


// Alias to give them a "meaning"
$background: $white;
$accent-background: $light-purple;
$button-background: $blue;
$text-color: $dark-purple;
$h-color: $dark-purple;
$border-color: $black;
$input-border: $dark-purple;
$project-pres-border: $dark-purple;
$button-text-color: $dark-purple;
$link-color: $blue;
$link-basic-color: $dark-purple;
$placeholder: $gray-purple;
$label-color: $dark-purple;
$show-text-color: $dark-purple;
$border-radius: 4px;
$big-border-radius: 20px;
$circle-number: 40px;

$large-font-size: 1.5rem;
$small-font-size: 0.875rem;

$small-gutter: 15px;
$medium-gutter: 40px;
$large-gutter: 70px;
$xlarge-gutter: 140px;

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/rubik/rubik-light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: medium;
  src: url("../fonts/rubik/rubik-medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url("../fonts/rubik/rubik-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@import "mixins";
@import "base";
@import "utils";
@import "inputs";
@import "components/_project_pres";
@import "components/accordion";
@import "components/slider";
