.chevron {
  &-up {
    width: 10%;
    @include icon(url("/images/icons/chevron-up.svg"), 3rem, center);
  }
  &-down {
    width: 10%;
    @include icon(url("/images/icons/chevron-down.svg"), 3rem, center);
  }
}

.accordion {
  overflow: hidden;
  transition: height 1s;
}
.toggle-element{
    cursor: pointer;
}
