.slider {
  position: relative;
}

.slider-container{
  
  transition: transform 1s;
  transform: translate3d(0, 0, 0);
  display: flex;
  width: 100%;
  
  &::after {
  content: '';
  clear: both;
  display: table;
  }
}

.slider-item {
  float: left;
  flex: 1;
}

.slider-content {
  @extend .card, .card-radius, .background-default, .margin-medium-right;
  height: 100%;
  display: grid;
}

.slider-next, .slider-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url( '/images/icons/chevron-left.svg') center center no-repeat;
  background-size: 30px;
  top: -35%;
  left: 92%;
  cursor: pointer;
  transition: opacity 1s;
  &.slider-next-hidden, &.slider-prev-hidden {
    opacity: 0;
    cursor: default;
  }
}

.slider-next {
  background-image: url('/images/icons/chevron-right.svg');
  left: 95%
}