@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/rubik-light.woff2?6515f0452e7f6f166262a3ef44e5fe99) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/rubik-regular.woff2?63c5b6176f60881d53dd2dc10904a04c) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: medium;
  src: url(/fonts/rubik-medium.woff2?c205b390643caf5b3d8d6d6488d84bc2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url(/fonts/rubik-bold.woff2?eb74985e94f82f81fb0e74d59a7e759e) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  background-color: #ffffff;
  color: #0a003f;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

a,
a:visited {
  color: #0a003f;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.big-header {
  border-bottom: 1px solid #222222;
}

footer {
  border-top: 1px solid #222222;
}

#content {
  min-height: 60vh;
  margin: 1em auto;
  width: 80%;
}

.big-header,
#content,
footer {
  padding: 1.5rem;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  background: #f1efff;
  margin: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-decoration: none;
  font-size: 1.25em;
}

.tile h2 {
  font-weight: normal;
}

.tile span {
  display: block;
  max-width: 20ch;
  text-align: center;
}

.columns {
  display: flex;
}

.columns.flex-space-between {
  justify-content: space-between;
}

.columns.flex-space-around {
  justify-content: space-around;
}

.columns.flex-left {
  justify-content: start;
}

.columns.flex-column {
  flex-direction: column;
}

.columns.flex-middle {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.columns.flex-items-center {
  align-items: center;
}

.columns .column {
  flex: 1;
}

.columns .column.text-right {
  flex: 0;
}

.card > .card-footer,
.slider-content > .card-footer {
  padding: 1.2rem;
}

.card > .card-header,
.slider-content > .card-header,
.card > .card-body,
.slider-content > .card-body {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  padding-left: 1.4rem;
}

.inverse {
  background-color: #0a003f;
  color: #ffffff !important;
  font-weight: normal;
  text-decoration: none;
}

.category,
.tag {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: normal;
  margin-right: 0.5rem;
  color: #0a003f;
}

.tag {
  border-radius: 100px !important;
}

.links {
  display: flex;
  height: 100%;
  align-items: center;
}

.links a {
  padding: 0 25px;
  font-size: 14pt;
  text-decoration: none;
}

.home-link a {
  text-decoration: none;
  font-size: 14pt;
}

.home-link h1 {
  margin: 0;
  font-size: 18pt;
  line-height: 0.75em;
}

.arrow-right {
  width: 1.3rem;
  height: 0.75rem;
  display: inline-block;
  background-image: url("/images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 2rem;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  color: #0a003f;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #0a003f;
}

.button-danger {
  background-color: #DA3D1D !important;
}

.button-danger::before {
  content: url("/images/icons/alert-triangle.svg");
  fill: none;
  color: #ffffff !important;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.background-accent {
  background-color: #f1efff !important;
}

.background-default,
.slider-content {
  background-color: #ffffff !important;
}

#about {
  font-size: 20px;
}

#show p {
  font-weight: 300;
  font-size: 18px;
  color: #0a003f;
}

.padding-large {
  padding: 70px;
}

.padding-medium {
  padding: 40px;
}

.padding-small,
.button-danger {
  padding: 15px;
}

.padding-medium-top {
  padding-top: 40px;
}

.padding-small-top {
  padding-top: 15px;
}

.padding-large-top {
  padding-top: 70px;
}

.margin-auto {
  margin: auto;
}

.margin-none {
  margin: 0px;
}

.margin-xlarge-top {
  margin-top: 140px;
}

.margin-large-top {
  margin-top: 70px;
}

.margin-medium-top {
  margin-top: 40px;
}

.margin-small-top {
  margin-top: 15px;
}

.margin-medium-right,
.slider-content {
  margin-right: 40px;
}

.child-margin-vertical-medium > * {
  margin-bottom: 40px;
  margin-top: 40px;
}

.child-margin-vertical-small > * {
  margin-bottom: 15px;
  margin-top: 15px;
}

.child-margin-horizontal-medium > * {
  margin-left: 40px;
  margin-right: 40px;
}

.child-margin-horizontal-small > * {
  margin-left: 15px;
  margin-right: 15px;
}

.border,
.border-radius,
.card.card-radius,
.card.slider-content,
.card-radius.slider-content,
.slider-content,
.card,
.category,
.tag {
  border: 1px solid #0a003f;
}

.border-radius,
.card.card-radius,
.card.slider-content,
.card-radius.slider-content,
.slider-content,
.category,
.tag {
  border-radius: 4px;
}

.width-1-2 {
  width: 50%;
}

.width-1-3,
.child-width-1-3 > * {
  width: 33%;
}

.width-2-3 {
  width: 66%;
}

.width-1-4 {
  width: 25%;
}

.width-1-5 {
  width: 20%;
}

.width-3-4 {
  width: 75%;
}

@media (max-width: 960px) {
  .width-1-2 {
    width: 100%;
  }

  .width-1-3,
  .child-width-1-3 > * {
    width: 100%;
  }

  .width-2-3 {
    width: 100%;
  }
}

.text-normal {
  font-weight: normal;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.5rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-secondary {
  color: #0a003f;
}

.text-primary {
  color: #2e63ea;
}

.text-justify {
  text-align: justify;
}

.height-medium {
  max-height: 17vh !important;
  min-height: 17vh !important;
}

.overflow-hidden {
  overflow: hidden;
}

input[type=text],
input[type=email],
input[type=url],
textarea,
.choose {
  border: 1px solid #0a003f;
  border-radius: 4px;
  padding-left: 16px;
}

.choose {
  width: 62.5%;
}

input[type=text],
input[type=email],
input[type=url],
textarea {
  width: 48%;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Rubik", sans-serif;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Rubik", sans-serif;
}

.is-combo {
  width: 63% !important;
}

.co {
  margin-right: 23px;
}

textarea {
  height: 101px;
  padding-top: 17px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: #0a003f;
  text-align: left;
}

.sublabel {
  font-size: 14px;
  font-weight: 300;
  color: #0a003f;
  text-align: left;
  display: block;
  margin-bottom: 9px;
}

input[type=text],
input[type=email],
input[type=url] {
  height: 60px;
}

.button-primary,
.button-danger {
  background: #2e63ea;
  border: none;
  color: white;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
}

.button-primary:hover,
.button-danger:hover {
  background-color: rgba(46, 99, 234, 0.8);
  transition: 0.5s;
  cursor: pointer;
}

.button-circle {
  border: 1px solid #0a003f;
  background-color: #ffffff;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  line-height: 50%;
  font-size: 36px;
}

.is-small {
  font-size: 20px;
}

.is-medium {
  font-size: 30px;
}

.is-big {
  font-size: 40px;
}

.button-outline {
  border: 1px solid #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.button-secondary {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border: none;
}

.button-radius {
  border-radius: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: underline;
  color: #2e63ea;
  font-weight: 600;
}

.link:hover {
  color: rgba(46, 99, 234, 0.8);
  transition: 0.5s;
  cursor: pointer;
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
}

.checkbox-label {
  padding-right: 50px;
}

input.checkbox + label::before {
  content: "";
  border: 1px solid #0a003f;
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

input.checkbox:checked + label::before {
  content: "";
  border: 1px solid #0a003f;
  background-color: #0a003f;
  background-image: url("/images/icons/check.svg");
  background-position: 2 2;
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.button-outline {
  border: 1px solid #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.button-secondary {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border: none;
}

.button-radius {
  border-radius: 20px;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

.arrow::before {
  content: url("/images/icons/arrow-right.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

::-moz-placeholder {
  font-size: 16px;
  color: #b8b7bc;
}

:-ms-input-placeholder {
  font-size: 16px;
  color: #b8b7bc;
}

::placeholder {
  font-size: 16px;
  color: #b8b7bc;
}

input.cb + label {
  border: 1px solid #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: #0a003f;
  border-radius: 20px;
  display: block;
  line-height: 33px;
}

input.cb + label:hover {
  background-color: rgba(10, 0, 63, 0.3);
  transition: 0.5s;
}

input.cb:checked + label {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border-radius: 20px;
  display: block;
}

.project {
  width: 215px;
  height: 268px;
  border: 1px solid #0a003f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.delimiter {
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #0a003f;
}

.button-outline {
  color: #0a003f;
}

.label,
.sublabel {
  width: 90%;
}

.chevron-up {
  width: 10%;
  display: inline-block;
  background-image: url("/images/icons/chevron-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
}

.chevron-down {
  width: 10%;
  display: inline-block;
  background-image: url("/images/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
}

.accordion {
  overflow: hidden;
  transition: height 1s;
}

.toggle-element {
  cursor: pointer;
}

.slider {
  position: relative;
}

.slider-container {
  transition: transform 1s;
  transform: translate3d(0, 0, 0);
  display: flex;
  width: 100%;
}

.slider-container::after {
  content: "";
  clear: both;
  display: table;
}

.slider-item {
  float: left;
  flex: 1;
}

.slider-content {
  height: 100%;
  display: grid;
}

.slider-next,
.slider-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("/images/icons/chevron-left.svg") center center no-repeat;
  background-size: 30px;
  top: -35%;
  left: 92%;
  cursor: pointer;
  transition: opacity 1s;
}

.slider-next.slider-next-hidden,
.slider-next.slider-prev-hidden,
.slider-prev.slider-next-hidden,
.slider-prev.slider-prev-hidden {
  opacity: 0;
  cursor: default;
}

.slider-next {
  background-image: url("/images/icons/chevron-right.svg");
  left: 95%;
}

